/* ==================================================================================================================== */
/*                                                GENERAL STYLES                                                        */ 
/* ==================================================================================================================== */

body{
    background-color: #99c089;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
}

/* ==================================================================================================================== */
/*                                                END GENERAL STYLES                                                    */ 
/* ==================================================================================================================== */


/* ==================================================================================================================== */
/*                                                CALCULATOR STYLES                                                     */ 
/* ==================================================================================================================== */

#calculator{
    background-color: #575757;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 500px;
}

#screen{
    background-color: #bbd0bf;
    width: 100%;
    height: 100px;
    border-radius: 30px;
    border: 3px solid #494949;
    box-shadow: 5px 5px #292929;
}

#topbuttons, #buttons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#topbuttons{   
    height: 20%; 
    margin-top: 5%;
}

#topbuttons .clear{
    background-color: #f5a34d;
    color: white;   
    height: 80%;
    width: 23%; 
    border: 3px solid #575757;
    border-radius: 30px;
    text-align: center;
    align-self: center;
    box-shadow: 2px 3px #292929;
    font-size: 30px;
    margin-left: auto;
}

#buttons{  
    gap: 5px;
    justify-content: space-between;
    height: 90%;
}

.number, .op, .equal{
    width: 22%;
    height: 22%;
    border: 3px solid #575757;
    border-radius: 30px;
    text-align: center;
    align-self: center;
    box-shadow: 2px 3px #292929;
    font-size: 30px;
}

.number{
    background-color: #ebebeb;
    color: #373737;
}

.op{
    background-color: #5bc0eb;
    color: white;
}

.equal{
    background-color: #f5a34d;
    color: white;
}


/* ==================================================================================================================== */
/*                                                END CALCULATOR STYLES                                                 */ 
/* ==================================================================================================================== */